body{
    font-size: 20px;
    background-color: lightgrey;
}
.frm{
  width: 100%;
  height: 15%;
  margin: 10px auto;
  text-align: center;
  background: #272727;
  border: 3px solid #32cd32;
  border-radius: 20px;
  box-shadow: 5px 10px darkgrey;
  padding: 5px 0px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  font-size: 15px; 
}
.heading{
    width: 60%;
    margin: 30px auto;
    text-align: center;
    color: #32cd32;
    background: #272727;
    border: 3px solid #32cd32;
    border-radius: 30px;
    box-shadow: 5px 10px darkgrey;
}
form {
    width: 60%;
    margin: 30px auto;
    border-radius: 20px;
    padding: 10px;
    background: #272727;
    border: 2px solid #32cd32;
    box-shadow: 5px 10px darkgrey;
}
form p{
    color: #c93636;
    margin: 0px;
    text-align: center;
}
.task_input{
    width: 70%;
    height: 15px;
    padding: 10px;
    border: 2px solid #32cd32;
    border-radius: 5px;
    margin-left: 20px;
}
.add_btn{
    height: 39px;
    background: lightgrey;
    color: #272727;
    border: 2px solid #32cd32;
    border-radius: 5px;
    padding: 5px 20px;
    
}
table{
    width: 60%;
    margin: 30px auto;
    border-collapse: collapse;
    box-shadow: 5px 10px darkgrey;
    background: #272727;
    border: 2px solid #32cd32;
    border-radius: 5px;
}
tr{
    border-bottom: 1px solid #32cd32;
}
th{
    font-size: 19px;
    color: #32cd32;
}
th, td{
    border: none;
    height: 30px;
    padding: 2px;
}
tr:hover {
    background: #e9e9e9;
}
.n{
    color: #32cd32;
    text-align: center;
}
.task{
    text-align: left;
    color: #32cd32;
}
.delete{
    text-align: center;
}
.delete a{
    color: lightgray;
    background: #c93636;
    padding: 1px 6px;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
}
.footer-div{
    width: 100%;
    height: 15%;
    margin: 10px auto;
    text-align: center;
    background: #272727;
    border: 3px solid #32cd32;
    border-radius: 20px;
    box-shadow: 5px 10px darkgrey;
    padding: 5px 0px;
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0%;
    font-size: 15px;
  }
  .footer-social-icons{
  width: 100%;
  height: auto;
  margin: auto;
  }
  .footer-social-icons ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  .footer-social-icons ul li{
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0px 10px;
  border-radius: 100%;
  background: #32cd32;
  }
  .footer-social-icons ul li a{
    color: #272727;
    font-size: 20px;
    display: block;
    text-align: center;
  }
  .footer-social-icons ul li a i{
    line-height: 50px;
  }
  .footer-menu-one{
    width: 100%;
    height: auto;
    margin:auto;
    margin-top: 10px;
  }
  .footer-menu-one ul{
    margin: 0px;
    padding:0px;
    text-align: center;
  }
  .footer-menu-one ul li{
    display: inline-block;
    margin: 0px 15px;
  }
  .footer-menu-one ul li a{
    font-family: arial;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
  
  }
  .footer-menu-two{
    width: 100%;
    height: auto;
    margin:auto;
    margin-top: 7px;
  }
  .footer-menu-two ul{
    margin: 0px;
    padding:0px;
    text-align: center;
  }
  .footer-menu-two ul li{
    display: inline-block;
    margin: 0px 15px;
  }
  .footer-menu-two ul li a{
    font-family: arial;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
  }

